*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    max-height: 100%;
}
body{
    font-family: tahoma;
    font-size: 18px;
    background-image: url(../img/incap\ se\ invencible2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* seccion <header> cabecera*/
header{
    background-color: blanchedalmond;
    border:2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;/* alinear horizontal*/
    align-items: center;/* alinear horizontal*/
    grid-area: header;/* nombre contenedor CSS GRID*/
}
ul{
    padding: 0;
    margin: 0 1px;
}
li{
    list-style: none;/* Quitar viñetas*/
    margin-bottom:0 5px;
    font:bold 12px Verdana;
}
a{
    color: white;
    text-decoration: none;/* Quitar subrayado*/
}
/* seccion estilos <nav> barra menus */
#menu{
    grid-area: nav;/* Nombre contenedor CSS GRID*/
    background-color: burlywood;
    border:2px solid black;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
/* seccion estilos barra submenu */
.menuB>li{
    position: relative;
    display: inline-block;
}
.menuB>li>a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menuB li a:hover{
    color: cadetblue;
    transition: all .3s;
}/*Evento css al pasar mouse encima menu*/
.submenu{
    position: absolute;
    background: peru;
    width: 120%;
    display: none;/* se mantenga oculto*/
}
.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menuB li:hover .submenu{/* evento de mostrar submenu al pasar mouse*/
    display: block;
    z-index: 100;/* capa superior en pagina web*/
}
/* seccion de estilos buscarbox */
.buscarbox input{
    height: 25px;
    width: 0px;
    padding: 0;
    border-radius: 40px;
    border: 0px;
    padding-right: 50px;
    transition: ease 8.8s;
}
.buscarbox input:hover{/* evento de ampliar al ancho al mouse*/
width: 150px;
padding-left: 18px;
outline: none;
}
/* seccion de contenido <section> y <article>*/
#main{
    grid-area: main;/* nombre contenedor CSS GRID*/
    border: 2px solid peru;
    border-radius: 22px;
    max-width: 100%; /* adaptable a cualquier dispositivo*/
    height: auto;/* adaptable a cualquier dispositivo*/
    background-color: rgba(255,255,255,0.6);/*Efecto glass*/
    backdrop-filter: blur(5px);/*Efecto glass*/
}
figure, figcaption{
    display: inline;
    margin: 45px;
    padding: 5px 5px;
}
/* seccion estilos <article> iconos de escuelas incap */
.programa{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 5px;
    width: 45%;
    height: 200px;
    position: relative;
    border: 1px solid black;
    border-radius: 15px 15px;
}
section article{
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(5px);
    margin: 20px;
}
/* seccion estilos <aside> barra lateral */
#sidebar{
    grid-area: sidebar;/*nombre contenedor CSS GRID*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(5px);
}
iframe{
    max-width: 100%;/* adaptable a cualquier dispositivo*/
    height: auto;/* adaptable a cualquier dispositivo*/
}
/* seccion estilos <footer> */
#footer{
    grid-area: footer;/*nombre contenedor CSS GRID*/
    padding-top: 20px;
    border: 2px solid peru;
    border-radius: 22px;
    clear: both;/*eliminar flotamiento parte superior*/
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(20px);
}
#redes a{
    padding: 5px;
    margin: 0px;
}
#redes a i:hover{
    transform: scale(1.5);/* agrandar icono al evento de pasar mouse*/
}
/* Estilos a iconos fontawesome redes sociales */
i[class^="fab"]{
    color: grey;
    font-size: 30px;
    border:1px solid transparent;
    margin: 0px;
}